<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Blog</title>
    <link rel="stylesheet" href="/css/home.css">
    

</head>
<body>
   <!-- header design -->
   <header class="header">
    <a href="#" class="logo">Bon Appetit!</a>
    <i class="bx bx-menu" id="menu-icon"></i>
    <nav class="navbar">
      <!-- total of 5 a tags -->
      <a href="#home" class="active">Home</a>
      <a href="/about">About</a>
      <a href="#services">Services</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>

      <!-- home section design -->
      <section class="home" id="home">
        <div class="home-content">
          <h1>Delicious<span class="multiple-text">Meals</span></h1>
          <p>
            Join me in my cooking adventures where I turn fresh vegetables into delicious meals.
          </p>
  
        <div class="home-img">
          <img src="https://as1.ftcdn.net/v2/jpg/02/37/75/44/1000_F_237754417_RO3Zf11gBsOwLCBZiabuir92voJ3gsvy.jpg" alt="" />
        </div>
      </section>
</body>
</html>