<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/fruit_style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></link>
    <title>Fruits</title>
  </head>
  <body>
    <nav href="/fruits/new">Create a New Fruit</nav>
    <section class="timeline">
      <div class="timeline-row">
        <div class="timeline-column">
          <h2 class="title">Fruits<span class="animate" style="--i:1;"></span></h2>
          <div class="timeline-box">
            <% for( let index = 0; index < fruits.length; index++ ) { %>

                <% let fruit = fruits[index] %>
                <div class="timeline-content">
                    <div class="content">
                      <div class="year"><i class="bx bxs-calendar"></i>2021 - 2022</div>
                      <h3 class="multi-text"><%= fruit.name %></h3>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                        voluptate natus consectetur suscipit aspernatur quos obcaecati
                        dolore veniam debitis omnis.
                      </p>
                      <a href="/fruits/<%= index %>">Checkout more...</a>
                    </div>
                  </div>
                <div>
                </div>
            <% } %>

            <span class="animate" style="--i:2;"></span>
          </div>
        </div>
              <span class="animate" style="--i:2;"></span>
            </div>
        </div>

      </div>
    </section>
  </body>
</html>