`<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <h1><%= about.name %></h1>
    <p>Bio: <%= about.bio %></p>
    <p><%= about.title %></p>


    <a href="/about">Go Back...</a>
</body>
</html>